* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color:purple;
    margin : 50px auto;
}
img{
    width: 100%;
}
#image{
    margin: 0 auto;
    height: 300px;
    width: 500px;
    margin-bottom: 80px;
}